<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GenDictEdit" version="1.1.0" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Quintity.TestFramework.Core" version="3.5.8238.11561" targetFramework="net472" />
  <package id="Quintity.TestFramework.Runtime" version="3.5.8238.11572" targetFramework="net472" />
</packages>