<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

    <!--<sectionGroup name="TestEnvironments">
      <sectionGroup name="MyEnvironment">
        <section name="testPropertyOverrides" type="System.Configuration.DictionarySectionHandler"/>
      </sectionGroup>
    </sectionGroup>-->

  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IListenerEvents" />
        <binding name="NetTcpBinding_IListenerEvents1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:10101//Quintity.TestFramework.TestListenersService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IListenerEvents"
          contract="ListenersService.IListenerEvents" name="NetTcpBinding_IListenerEvents">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:10101//Quintity.TestFramework.TestListenersService/"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IListenerEvents1"
          contract="TestListenersService.IListenerEvents" name="NetTcpBinding_IListenerEvents1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Quintity.TestFramework.TestConsole.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{u} [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>

  </log4net>

  <!--<TestEnvironments>
    
    <MyEnvironment>
      <testPropertyOverrides>
        <add key="TestHome" value="C:\DevProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework.TestProject"/>
        <add key="TestAssemblies" value="[TESTHOME]\bin\Debug"/>
      </testPropertyOverrides>
    </MyEnvironment>

  </TestEnvironments>-->

  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
