<?xml version="1.0" encoding="utf-8"?>
<TestListeners xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Runtime">
  <TestListener>
    <Name>Simple test listener</Name>
    <Description></Description>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\DevProjects\Quintity\Repos\TestFramework\Source\Quintity.TestFramework.TestClients\Quintity.TestFramework.TestListeners\bin\Debug\Quintity.TestFramework.TestListeners.dll</Assembly>
    <Type>Quintity.TestFramework.TestListeners.SimpleTestListener</Type>
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestResults</d3p1:Key>
        <d3p1:Value>[TestResults]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
    </Parameters>
  </TestListener>
</TestListeners>