<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Quintity.TestFramework.TestEngineer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

    <sectionGroup name="TestEnvironments">
      <sectionGroup name="Default">
        <section name="testPropertyOverrides" type="System.Configuration.DictionarySectionHandler"/>
      </sectionGroup>
    </sectionGroup>

  </configSections>

  <TestEnvironments>

    <Default>
      <testPropertyOverrides>
        <add key="TestHome" value="C:\Quintity Testframework | Default environment location"/>
        <add key="TestAssemblies" value="[TESTHOME]\TestAssemblies | Default environment test assemblies location"/>
      </testPropertyOverrides>
    </Default>

  </TestEnvironments>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IListenerEvents" receiveTimeout="24.20:31:23.00" sendTimeout="24.20:31:23.00"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:10101//Quintity.TestFramework.TestListenersService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IListenerEvents" contract="TestListenersService.IListenerEvents" name="NetTcpBinding_IListenerEvents">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Quintity.TestFramework.TestEngineer.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{u} [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <userSettings>
    <Quintity.TestFramework.TestEngineer.Properties.Settings>
      <setting name="TestAssemblies" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
    </Quintity.TestFramework.TestEngineer.Properties.Settings>
  </userSettings>

</configuration>
