<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IListenerEvents" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:10101//Quintity.TestFramework.TestListenersService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IListenerEvents"
                contract="ListenersService.IListenerEvents" name="NetTcpBinding_IListenerEvents">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
