<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  
  <!--<system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IListenerEvents" receiveTimeout="24.20:31:23"
          sendTimeout="24.20:31:23" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <reliableSession inactivityTimeout="00:10:00" enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    
    <client>
      <endpoint address="net.tcp://localhost:10101//Quintity.TestFramework.TestListenersService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IListenerEvents"
        contract="Service.IListenerEvents" name="NetTcpBinding_IListenerEvents" />
    </client>
    
    <services>
      <service name="Quintity.TestFramework.TestListenersService.ListenerEvents">
        <endpoint address="" binding="netTcpBinding" contract="Quintity.TestFramework.TestListenersService.IListenerEvents">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10101//Quintity.TestFramework.TestListenersService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
           To avoid disclosing metadata information, 
          set the values below to false before deployment 
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
           To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information 
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Quintity.TestFramework.ListenersService.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="50"/>
      <maximumFileSize value="25MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{u} [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>

  </log4net>
  
</configuration>
