<TestListeners xmlns="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <TestListener>
    <Name>JIRA Listener</Name>
    <Description i:nil="true"/>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.TestListener.JIRA\bin\Debug\Quintity.TestFramework.TestListener.JIRA.dll</Assembly>
    <Type>Quintity.TestFramework.TestListeners.JIRAListener</Type>
  </TestListener>
  <TestListener>
    <Name>Rally Listener</Name>
    <Description i:nil="true"/>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.TestListener.Rally\bin\Debug\Quintity.TestFramework.TestListener.Rally.dll</Assembly>
    <Type>Quintity.TestFramework.TestListeners.Rally.RallyListener</Type>
  </TestListener>
  <TestListener>
    <Name>TargetProcess Listener</Name>
    <Description i:nil="true"/>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.TestListener.TargetProcess\bin\Debug\Quintity.TestFramework.TestListener.TargetProcess.dll</Assembly>
    <Type>Quintity.TestFramework.TestListeners.TargetProcessListener</Type>
  </TestListener>
  <TestListener>
    <Name>TFS Listener</Name>
    <Description i:nil="true"/>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.TestListener.TFS\bin\Debug\Quintity.TestFramework.TestListener.TFS.dll</Assembly>
    <Type>Quintity.TestFramework.TestListeners.TFSListener</Type>
  </TestListener>
  <TestListener>
    <Name>VersionOne Listener</Name>
    <Description i:nil="true"/>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.TestListener.VersionOne\bin\Debug\Quintity.TestFramework.TestListener.VersionOne.dll</Assembly>
    <Type>Quintity.TestFramework.TestListeners.VersionOneListener</Type>
  </TestListener>
  <TestListener>
    <Name>SMTP Listener</Name>
    <Description i:nil="true"/>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.TestListener.SMTP\bin\Debug\Quintity.TestFramework.TestListener.SMTP.dll</Assembly>
    <Type>QuintityTestFramework.TestListeners.SMTPListener</Type>
  </TestListener>
  <TestListener>
    <Name>Text File Listener</Name>
    <Description i:nil="true"/>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.TestListener.TextFile\bin\Debug\Quintity.TestFramework.TestListener.TextFile.dll</Assembly>
    <Type>Quintity.TestFramework.TestListener.TextFile.TextFileListener</Type>
  </TestListener>
  <TestListener>
    <Name>Performance Listener</Name>
    <Description i:nil="true"/>
    <Status>Active</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.TestListener.Performance\bin\debug\Quintity.TestFramework.TestListener.Performance.dll</Assembly>
    <Type>Quintity.TestFramework.TestListener.Performance.PerformanceListener</Type>
  </TestListener>
</TestListeners>