<TestListeners xmlns="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <TestListener>
    <Name>New Sample Listener</Name>
    <Description>This is a sample listener</Description>
    <Status>Active</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\TestProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.SampleListener\bin\Debug\Quintity.TestFramework.SampleListener.dll</Assembly>
    <Type>Quintity.TestFramework.SampleListener.SampleTestListener2</Type>
  </TestListener>
</TestListeners>