<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QueryServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sgdev53app02.cognosante.hosted:8080/SmartStreamReports/services/QueryService"
                binding="basicHttpBinding" bindingConfiguration="QueryServiceSoapBinding"
                contract="QueryService.QueryService" name="QueryService" />
        </client>
    </system.serviceModel>
</configuration>