<?xml version="1.0" encoding="utf-8" ?>
<TestConfiguration xmlns="schema URL">
  <!--Replace the TestHome value with the current solution's path.-->
  <TestHome>c:\MySolutionPath</TestHome>
  <TestConfigs>[TestHome]\ProjectFolder\TestConfigs</TestConfigs>
  <TestSuites>[TestHome]\ProjectFolder\TestSuites</TestSuites>
  <TestAssemblies>[TestHome]\ProjectFolder\bin\Debug</TestAssemblies>
  <TestData>[TestHome]\ProjectFolder\TestData</TestData>
  <TestResults>[TestHome]\ProjectFolder\TestResults</TestResults>
  <TestOutput>[TestHome]\ProjectFolder\TestOuput</TestOutput>

  <!-- Add user defined global properties below. -->
  <UserDefined>
    <MyProperty>My property value</MyProperty>
  </UserDefined>
  
</TestConfiguration>